#tong{
    width: 822px;
    height: 1240px;
    margin: auto;
}
#tren{
    width: 690px;
    height: 67px;
    float: right;
    background-color: #ad0401;
    margin-top: 47px;
}
#duoi{
    height: 25px;
    color: white;
    background-color: #ad0401;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    top: 110px;
    left: 412px;
    font-size: 20px;
}
td{
    color: white;
    border-right: white solid 1px;
    font-size: 13px;
}
.td{
    padding-top: 28px;
}
#trai{
    width: 180px;
    float: left;
}
#tong1{
    width: 100%;
    height: 1126px;
    background-color: #c0c0c0;
    margin-top: 0px;
}
#phai{
    float: right;
    width: 642px;
}
.mot{
    margin-left: 30px;
}
p{
    font-size: 16px;
}
#tong2{
    height: 64px;
    width: 100%;
    margin-top:-64px;
}
#anh{
    width:532px;
    height:20px;
    position: relative;
    top: -22px;
    z-index: 1;
    left: 290px;
}
#gotop{
    position: relative;
    top: -28px;
    left: 245px;
    z-index: 3;
}   
#hai{
    position: absolute;
    width: 65px;
    height: 5px;
    top: 122px;
}
#ba{
    position: absolute;
    width: 657px;
    height: 5px;
    top: 122px;
    left: 513px;
}