*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f2f2f2;
}
#wrapper{
    width: 960px;
    height: 1000px;
    margin: auto;
}
nav{
    line-height: 40px;
    background-color: #ffa500;
    width: 100%;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
}
nav ul li a{
    color: white;
    text-decoration: none;
}
nav ul li a{
    margin-left: 20px;
}
#one{
    background-color: white;
    display: flex;
}
.ma{
    width: 25%;
    height: 320px;
    padding: 15px;
}
.ma img{
    width: 208px;
}
.abc{
    color: red;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
}
p{
    font-size: 15px;
    color: black;
    text-align: left;
}
.ma img:hover{
    transition: 1s;
    transform: translate(0,-5px);
}
nav ul li{
    padding: 0 20px 0 0;
}
nav ul li:hover{
    background-color: red;
}
p{
    cursor: pointer;  
}