*{
    margin: 0;
    padding: 0;
}
/* đổi màu nền */
body{
    background-color:#f2f2f2;
}
/* set thuộc tính cho thằng cha nó */
#wrapper{
    width: 960px;
    height: 1000px;
    margin: auto;
}
/* chỉnh size ảnh */
.banner img{
    width: 100%;
}
/* thanh menu */
nav{
    width: 100%;
    background-color: #ffa500;
    line-height: 40px;
}
/* ul */
nav ul{
    display: flex;
    justify-content:center;
    list-style: none;
}
/* style thẻ a */
nav ul li a{
    color: white;
    text-decoration: none;
}
/* li */
nav ul li{
    margin-left: 25px;
}
#content{
    width: 100%;
    background-color: #fff;
}

.nd1{
    width:100%;
    height:320px;
    display: flex;
}
/* set chiều rộng cho ô bài viết */
.nd1 .chitiet{
    width: 25%;
    padding: 15px;
}
/* tạo 1 ô nhỏ hơn ô bài viết để tạo khoảng cách padding */
.nd1 .chitiet .pdd{
    width: 100%;
    height: 100%;
    background-color: aqua;
}
/* chân website*/
footer{
    width: 100%;
    line-height: 60px;
    text-align: center;
    background-color: #fff;
}
