body{
    margin-top: 0px;
}
.wrapper{
    width: 948px;
    height: 503px;
    margin: auto;
    position: relative;
}
.header{
    height: 113px;
    width: 100%;
    background-color: #ad0401;
    background-repeat: no-repeat;
    background-position-x: center;
    position: relative;
}
.header ul{
    list-style: none;
    display: flex;
    position: absolute;
    top: 41px;
    left: 72px;
}
.content{
    width: 100%;
    height: 177px;
    background-color: #000000;
}
.footer{
    width: 100%;
    height: 213px;
    background-color: silver;
}
p{
    margin: 0px;
    padding-top: 170px;
    text-align: center;
    font-size: 11px;
}
.main{
    width: 722px;
    height: 374px;
    position: absolute;
    top: 79px;
    left: 112px;
}
.anh{
    width: 100%;
    height: 262px;  
}
.anh .anh{
    width: 100%;
    height: 100%;
}
.nav{
    width: 100%;
    height: 100px;
    background-color: #b30b0b;
}
.nav ul{
    display: flex;
    list-style: none;
    margin: 0px;
    padding: 0px;
   
}
.wel{
    color: #ffff0d;
    position: absolute;
    top: 350px;
    left: 530px;
    font-size: 17px;
    padding: 0px;
    width: 255px;
}
.nav .anh1{
    width: 686px;
    margin-top: -4px;
    
}
/*.wel:hover{
    transition: 2s;
    transform: translate(-140px,-50px);
    color: blue;
    
}*/
.header ul li{
    position: relative;
}
.header span{
    position: absolute;
    display: none;
    top: 0px;
    left: 0px;
}
a:hover span{
    display: block;
}
.nav ul li{
    position: relative;
}
.nav span{
    position: absolute;
    display: none;
    top: 0px;
    left: 0px;
}
a:hover span{
    display: block;
}