p.top{
    color: black;
    background-color: red;
    font-size: 30px;
}
p.left{
    color: peru;
    background-color: green;
    font-size: 30px;
}
p.right{
    color: blanchedalmond;
    background-color:blue;
    font-size: 30px;
}
p.bottom{
    color: fuchsia;
    background-color: yellow;
    font-size: 30px;
}
a:link{
    text-decoration: none;
}
/*unvisited link*/
a:visited{
    text-decoration: none;
}
/*visited link*/
a:hover{
    text-decoration: underline;
}
/*mouse over link*/
a:active{
    text-decoration: underline;
}
/*selected link*/
