*{
    font-family: Tahoma;
    font-style: italic;
    text-align: center;
}
#saurieng{
    text-transform: uppercase;
    text-decoration: overline;
    color: green;
    text-align: right;
    border: blue solid 5px;
    font-weight: bold;
}
.cam{
    text-transform: lowercase;
    text-indent: 20px;
    font-style: italic;
    border: red dotted 3px;
    background-color: pink;
    color: limegreen;
}