.Minhanh{
    font-size:48px;
    font-style: italic;
    font-family: Arial;
    color: red;
    text-decoration:overline;
    text-align: center
}
.ideal{
    font-style:oblique;
    color: orange;
    font-size:36;
    font-family: Tahome;
    text-align: right;
    font-weight: bold;
    text-decoration:line-through
}
