#mia{
    width: 100%;
    background-image: url(images/2.jpg);
    height: 500px;
}
a h3{
    color: black
}
#tien{
    width: 60%;
    margin: auto;
    text-align: center;
    margin-top: 150px;
}
hr{
    border: 3px deepskyblue solid;
    width: 50px;
}
.nav-link{
    font-weight: bold;
}
.fa{
    color: yellow;
}
h1{
    color:dodgerblue;
     text-align: center;
}
.col-4{
    padding: 10px 10px 10px 10px; 
}
td{
    text-align: left;
}
.fa-facebook{
	color: #3b5998;
}
.fa-twitter{
	color: #00aced;
}
.fa-google{
	color: #dd4b39
}
.fa-instagram{
	color: #517fa4;
}
footer a i{
	font-size: 50px;
	padding: 1em;
	text-align: center;
	margin-left: 70px;
}