.container{
    width: 1000px;
}
.row{
    height: 90px;
}
p{
    font-size: 10px;
}
img{
    width: 100%;
    height: 100%;
}
input{
    width: 340px;
    height: 30px;
}
ol{
    list-style: none;
}
ol li{
    font-weight: bold;
    margin-left: 20px;
    font-size: 15px;
    padding: 10px 10px 10px 10px;
}
a{
    text-decoration: none;
    color: black;
}
a :hover{
    background-color: #5664a5;
    text-decoration: none;
    color: white;
    padding: 10px 10px 10px 10px;
}
.border{
    border: 1px dashed !important; ;
    border-top: 1px dotted !important;
}
#mid{
    width: 600px;
    padding: 0 10px;
    float: left;
}
.anh{
    height:210px
}
.row{
    box-sizing: border-box;
    padding: 20px 20px 0 20px;
}
.checked{
    color:yellow
}
.right{
    float:left;
    width: 220px;
}
footer{
    width: 100%;
}